@tailwind base;
@tailwind components;
@tailwind utilities;


/* #root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  
  color: black;
  border-radius: 20px;
  padding-inline: 200px ;
  border: 1rem;
  
  
}


 */



